/* Importation des polices d'écriture */
/* Importation des polices d'écriture */
@font-face {
    font-family: 'Rosarivo';
    src: url('../assets/fonts/Rosarivo/Rosarivo-Regular.ttf');
}

@font-face {
    font-family: 'Rosarivo-Italic';
    src: url('../assets/fonts/Rosarivo/Rosarivo-Italic.ttf');
}


/* Style global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Variables */
:root {
    /* Colors */
    --main-color: #ffffff;
    --secondary-color: #000000;
    --third-color: #e6e7cd;
    --fourth-color: #BC9051;
    /* Fonts */
    --main-font: 'Rosarivo', sans-serif;
    --secondary-font: 'Rosarivo-Italic', sans-serif;
    --third-font: '/', sans-serif;


    /* Font-size */
    --title-size: 2.5em;
    --subtitle-size: 1.5em;
    --text-size: 1em;
}